<style>
  h1 {
    color: blue;
  }
</style>


<h2>PIPES</h2>
{{fecha | date: 'yyyy/MM/dd'}}
{{sueldo | currency}}
{{universidad | uppercase}}


<h2>Directivas!</h2>

<p *ngIf="true">SI</p>
<p *ngIf="false">NO</p>
<div [hidden]="true">
ESTOY OCULTO NO ELIMINADO
</div>

<ul>
  <li *ngFor="let nombreVariable of arregloObjetos">
    <button>a</button>
    <a href="">LINK</a>
    <P>ALGO</P>
    {{nombreVariable.nombre}}
    <app-mi-primer-componente
      [titulo]="nombreVariable.apellido"
      [textoImagen]=" nombreVariable.nombre"
      [textoBoton]="nombreVariable.sueldo.toString()"
      [imagen]="nombreVariable.comida"
      (cambioSueldo)="imprimirSueldo($event)"
      (mostrarResultados)="imprimirResultados($event, $event)"
    ></app-mi-primer-componente>
  </li>
</ul>

<h1>Inicio</h1>
<app-mi-primer-componente
  [titulo]="arregloObjetos[0].apellido"
  [textoImagen]="arregloObjetos[0].nombre"
  [textoBoton]="arregloObjetos[0].sueldo.toString()"
  [imagen]="arregloObjetos[0].comida"
  (cambioSueldo)="imprimirSueldo($event)"
  (mostrarResultados)="imprimirResultados($event, $event)"
></app-mi-primer-componente>
<app-mi-primer-componente
  [titulo]="arregloObjetos[1].apellido"
  [textoImagen]="arregloObjetos[1].nombre"
  [textoBoton]="arregloObjetos[1].sueldo.toString()"
  [imagen]="arregloObjetos[1].comida"
></app-mi-primer-componente>
<app-mi-primer-componente
  [titulo]="arregloObjetos[2].apellido"
  [textoImagen]="arregloObjetos[2].nombre"
  [textoBoton]="arregloObjetos[2].sueldo.toString()"
  [imagen]="arregloObjetos[2].comida">

</app-mi-primer-componente>
