 <h1>{{titulo}}</h1>
 <!-- {{}} MOSTRAR EN EL HTML-->
 <!-- acceder a metodos y propiedades de la clase, solo sirve para mostrar algo dentro de una etiqueta-->
  <img [src]="imagen"
       alt=""
       [width]="ancho"
       [height]="ancho">


 <p>{{textoImagen}}</p>

 <!--  EVENT BINDING -->
 <!--  [evento]= "miFuncion($event)" -> Evento -->
 <button
   (mouseenter)="aumentarSueldo()"
   (click)="aumentarTamanio()"
 >
   {{textoBoton}}</button>

 <!-- Property Binding (Enlace a las propedades)-->
 <!-- [atributo]= "valor -> Atributos" -->
