 <h1>{{titulo}}</h1>
 <!-- {{}} MOSTRAR EN EL HTML-->
 <!-- acceder a metodos y propiedades de la clase, solo sirve para mostrar algo dentro de una etiqueta-->
  <img [src]="imagen"
       alt=""
       [width]="ancho"
       [height]="ancho">


 <p>{{textoImagen}}</p>

 <!--  EVENT BINDING -->
 <!--  [evento]= "miFuncion($event)" -> Evento -->
 <button
   (mouseenter)="aumentarSueldo()"
   (click)="aumentarTamanio()"
 >
   {{textoBoton}}</button>

 <br>

 <label >Ingrese numero uno:</label>
<input type="text" (change)="escucharNum($event)"  >

 <label >Ingrese numero dos:</label>
 <input type="text" (change)="escucharNum2($event)" >

 <button (click)="sumar()"  >Sumar
 </button>

 <p>
Suma: {{suma}}
   Resta: {{resta}}

   Multiplicacion : {{multiplicacion}}
   Division: {{division}}
 </p>


 <!-- Property Binding (Enlace a las propedades)-->
 <!-- ls -->
